{% extends "admin_base.html" %}
{% block js %}
 <script type="text/javascript">

        async function js_select_dir() {
            var select_path = await eel.select_dir()();
            if (select_path) {
                $("#inputdir").val(select_path);
                console.log(select_path);
            }
        }

        async function start_file_write() {
            var inputdir = $("#inputdir").val();
            var submitFlag = true;
            if (inputdir == '') {
                alert("选择文件目录");
                submitFlag = false;
                return submitFlag;
            }
             var data = {"dirpath":inputdir};
            $("#progress_bar").css("width","0%");
            await eel.pywritedb(data);
        }

        eel.expose(js_init_process_callback);
        function js_init_process_callback(data){
        $("#progress_bar").attr("aria-valuemax",data["data"]);
        $("#progress_bar").text("总文件数:" + data["data"]);
    }
            eel.expose(js_process_callback);
        function js_process_callback(data){
            var wd = data["data"]/ parseFloat($("#progress_bar").attr("aria-valuemax")) * 100;
        $("#progress_bar").css("width",wd + "%");
        var files = parseInt($("#progress_bar").attr("aria-valuemax"))
        $("#progress_bar").text("总文件数: " + files + "  已处理: " + data["data"]);
    }
    </script>

{% endblock %}
{% block content %}
